@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* banner para font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1e201e;
  --secondary-color: #f5f5f5;
  --section-margin: 3rem 0px;
  --text-color: #db9890;
  --text-color: rgb(219, 152, 144);
}
/* #64ccc5 */

.dark-mode {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

body,
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--secondary-color);
  /* background-color: #fcf8ef; */
  color: var(--main-color);
}

.header {
  width: 100%;
  background-color: #fcf8ef;
  color: var(--main-color);
  position: sticky;
  top: 0px;
  z-index: 20;
  box-shadow: 0px 0px 10px var(--text-color);
}

.logo-img {
  height: 60px;
}

.nav-item .nav-link {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.nav-link:visited {
  color: var(--secondary-color);
}

.navbar-toggler {
  background-color: var(--text-color);
}
/* .dropdown-menu{
display: flex;
position: relative;
} */

.btn {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.center {
  width: 90%;
  margin: 0px auto;
}

.toggle {
  color: #fff;
  font-size: 1.7rem;
}

.nav-link {
  color: var(--secondary-color);
}

/* carousel slides */

.carousel-item {
  min-height: 90vh;
  height: auto;
  width: 100%;
  background-color: var(--main-color);
}

.banner-container {
  min-height: 90vh;
  height: auto;
  width: 100%;
  background-image: url('./images/home-banner-img.png');
  background-color: #fcf8ef;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.banner-content {
  margin-bottom: 0rem;
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  text-align: center;
  width: 70%;
}

.banner-container h1 {
  font-size: 3.5rem;
  color: #d08f44;
  padding: 0rem 0.5rem;
  /* -webkit-text-stroke: 2px #85490a; */
}

.banner-container h2 {
  font-size: 2.5rem;
}

.banner-container strong {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.banner-points {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: auto;
}

.banner-points-items {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 5px 0px var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.banner-points i {
  color: var(--text-color);
}

.banner-points em {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .banner-container {
    justify-content: space-evenly;
  }

  .banner-container h1 {
    font-size: 4.2rem;
    color: #d08f44;
    padding: 0px 0px;
    text-transform: capitalize;
  }

  .banner-container h2 {
    font-size: 3rem;
  }

  .banner-points {
    width: 85%;
    flex-direction: row;
  }
}

/* our services */

.service-container {
  margin: var(--section-margin);
}

.service-container h2 {
  text-align: center;
}

.service-box-container {
  height: auto;
  width: 100%;
}

.service-box {
  /* background-color: var(--secondary-color); */
  background-image: url('./images/WHITE\ SAND\ bg.png');
  color: var(--main-color);
  min-height: 430px;
  height: auto;
  margin: 0px 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.6s ease-in;
  box-shadow: 0px 0px 1px 0px var(--main-color);
}

.service-box h5 {
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 1rem 0px;
}

.service-box:hover {
  box-shadow: 0px 0px 5px 0px var(--main-color);
}

.service-box > span {
  background-color: var(--main-color);
  color: var(--secondary-color);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.7s ease-in;
  box-shadow: 0px 0px 3px var(--secondary-color);
}

.service-box > span i {
  font-size: 1.3rem;
}

.service-box p {
  padding: 0px;
  text-align: start;
  letter-spacing: 1px;
}

.qoute {
  color: var(--text-color);
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: bold;
}

.details-content {
  display: inline-block;
  margin-left: 1rem;
}

/* about section */

.about-container {
  width: 100%;
  height: auto;
  background-color: rgba(30, 32, 30, 10);
  background-color: #fcf8ef;
  color: var(--main-color);
}

.about-container h2 {
  color: var(--secondary-color);
  color: var(--main-color);
}

.about-parent {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* goal section */
.goal-parent {
  height: auto;
  width: 100%;
  margin: 0px auto;
}

.vision-img {
  height: 330px;
}

.steps:hover {
  background-color: white;
}

.vision-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hero-about-img {
  height: 360px;
  width: 100%;
}

.hero-about-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-content {
  height: auto;
  color: var(--secondary-color);
  color: var(--main-color);
  padding: 3rem 0px;
}

.about-content h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 2.5rem;
}

.about-content p {
  text-align: start;
  padding: 0;
}

.btn {
  text-decoration: none;
}

/* recent-parent section */

.recent-parent {
  margin: var(--section-margin);
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: masonry;
  gap: 2rem;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 3rem;
  /* background-color: yellowgreen; */
  /* padding: 3rem; */
}

.box {
  /* overflow: hidden; */
  height: 300px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px var(--main-color);
  border-radius: 10px;
  /* background-color: var(--text-color); */
  /* transform: rotate(5deg); */
  /* margin: 2rem; */
  /* 1024 */
}

.rotate {
  /* transform: rotate(-5deg); */
  height: 100%;
  border-radius: 10px;
}

/* .box:hover .recent-img-shadow {
  transform: translateX(0%);
} */

.box:nth-of-type(2),
.box:nth-of-type(4) {
  margin-top: 0rem;
}

.recent-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* border: 7px solid var(--secondary-color); */
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .recent-parent {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 80%;
  }

  .grid-1 {
    grid-column: 1/3;
    /* grid-row: 1/3; */
  }

  .grid-2 {
    grid-column: 3/-1;
    /* grid-row: 1/2; */
  }

  .grid-3 {
    grid-column: 1/4;
    /* grid-row: 3/-1;
    height: auto; */
  }

  .grid-4 {
    grid-column: 4/-1;
    /* grid-row: 3/5;
    height: auto; */
  }

  .grid-5 {
    grid-column: 1/3;
    /* grid-row: 3/5;
    height: auto; */
  }

  .grid-6 {
    grid-column: 3/-1;
    /* grid-row: 3/5;
    height: auto; */
  }

  .grid-7 {
    grid-column: 1/4;
    /* grid-row: 3/-1;
    height: auto; */
  }

  .grid-8 {
    grid-column: 4/-1;
    /* grid-row: 3/5;
    height: auto; */
  }
}

@media screen and (min-width: 1350px) {
  .box {
    height: 410px;
    box-shadow: none;
  }

  .recent-parent {
    width: 70%;
  }

  .recent-img {
    object-fit: contain;
    border: none;
  }
}

.process-parent {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  place-items: center;
  gap: 1rem;
  padding: 2rem 0px;
}

.process-why-section {
  text-align: center;
  text-transform: capitalize;
}

.process-boxes {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.process-box {
  height: auto;
  box-shadow: 0px 0px 2px 0px black;
  border-radius: 5px;
  background-color: #efead3;
  box-shadow: 0px 0px 5px 0px #ecc30e;
  /* color: ; */
}

.process {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  height: auto;
}

.process-icon {
  background-color: var(--main-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translateY(-23px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-icon i {
  font-size: 1.7rem;
  color: var(--secondary-color);
}

.process-strong {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.process-point {
  list-style-type: disc;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .process-parent {
    grid-template-columns: 0.5fr 1fr;
  }

  .process-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* reviews start */

.review-container {
  margin: 4rem 0px;
}

.review {
  background-color: var(--main-color);
  height: 60vh;
  border-radius: 5px;
}

.review-card-container {
  height: auto;
  width: 100%;
  /* background-color: var(--main-color); */
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  /* box-shadow: 0px 0px 3px 0px black; */
}

.review-box {
  height: 60px;
  width: 60px;
  background-color: yellowgreen;
  margin-top: 5rem;
  border-radius: 50%;
}

figure {
  height: 110px;
  width: 110px;
  margin: 0px 0px;
  /* border: 2px solid black; */
  /* border-radius: 50%; */
  /* padding: 2px; */
}

figure > img {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  /* border-radius: 50%; */
  object-fit: contain;
}

.fa-angle-left,
.fa-angle-right {
  margin: 0px 10px;
  color: var(--text-color);
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  font-size: 1.8rem;
}

/* .fa-quote-right {
  transform: translate(-60px, 60px);
  background: var(--text-color);
  z-index: 5;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 50%;
} */

#user-name {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

span {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
}

p {
  padding: 20px;
  text-align: center;
}

.icon-container {
  margin-bottom: 1rem;
}

#about-user {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
    padding: 20px;
  }
}

/*** Footer Start ***/
.footer-container {
  background-image: url('./images/footer-bg-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--main-color);
  box-shadow: 0px 0px 10px var(--text-color);
}
.footer {
  height: auto;
  /* border: 1px solid black; */
}

.footer .footer-item {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.footer .footer-item a {
  line-height: 35px;
  color: var(--text-color);
  transition: 0.5s;
}

.footer .footer-item p {
  line-height: 75px;
}

.footer .footer-item a:hover {
  color: var(--text-color);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
  transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
  background: var(--text-color);
}

.footer-icon {
  background-color: var(--text-color);
}

.footer-instagram {
  height: 100px;
}

.footer-instagram img {
  box-shadow: 0px 0px 10px 0px black;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.footer .footer-item .footer-instagram:hover .footer-search-icon {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}

.footer .footer-item .footer-btn a {
  background: var(--secondary-color);
  color: var(--main-color);
}

.footer .footer-item .footer-btn a:hover {
  background: var(--text-color);
}

.footer .footer-item .footer-btn a:hover i {
  color: var(--bs-white);
}

.copyright-section {
  letter-spacing: 2px;
  color: var(--main-color);
  text-align: center;
  padding: 0.5rem;
  text-transform: uppercase;
}

.copyright-section span {
  color: var(--secondary-color);
  font-weight: normal;
}

/*** Footer End ***/

.service-details-container article:nth-last-of-type(even) {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

/* about-page css */

.about-page-hero-container {
  min-height: 600px;
  height: auto;
  width: 100%;
  background-color: #fcf8ef;
  background-image: url('./images/about-banner-img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.about-page-hero-container h2 {
  font-size: 2.5rem;
  font-weight: 200;
  /* color: #0077b5; */
  color: var(--main-color);
  padding-top: 1.5rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  /* font-family: 'Abril Fatface', serif; */
}

.about-page-hero-container h2::first-letter {
  font-size: 3rem;
}

.about-page-hero-container span {
  font-size: 3rem;
  font-weight: 200;
  color: var(--main-color);
}

.about-page-hero-container span:nth-last-child(2) {
  font-size: 3rem;
  font-weight: 200;
}

.about-page-hero-container p {
  color: black;
  font-size: 1.1rem;
  margin-bottom: -1rem;
  font-family: 'Playwrite DE Grund', cursive;
}

@media screen and (min-width: 768px) {
  .about-page-hero-container p {
    margin-bottom: 0rem;
    font-size: 1.5rem;
  }
}

.about-hero-parent {
  min-height: 100vh;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.about-hero-parent-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.about-hero-parent-content h1 {
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.about-hero-parent-img {
  height: 400px;
}

.about-hero-parent-content strong {
  background-color: transparent;
  font-size: 2.6rem;
  color: var(--text-color);
  font-weight: bold;
}

.about-hero-parent-content span {
  letter-spacing: 2px;
}

.about-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.counter-container {
  /* background-color: var(--main-color); */
}

.count-num {
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 2px;
}

.count-para-1 {
  border-bottom: 2px dotted #f9ce34;
  width: 70%;
}

.count-para-2 {
  border-bottom: 2px dotted var(--text-color);
  width: 70%;
}

.count-para-3 {
  border-bottom: 2px dotted #316ff6;
  width: 70%;
}

.digi-one {
  color: #f9ce34;
}

.digi-three {
  color: #0077b5;
}

.digit-parent {
  /* min-height: 40vh; */
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: whitesmoke; */
  border-radius: 5px;
  /* box-shadow: 0px 0px 2px 0px var(--main-color); */
}

.digit-parent strong {
  font-size: 2.2rem;
  margin: 0px;
}

.digit-parent em {
  font-size: 1.2rem;
}

.our-team-section {
  height: auto;
}

.our-team-container {
  background-color: white;
  padding-bottom: 1rem;
}

.leader-section {
  /* background-color: var(--secondary-color); */
  min-height: 300px;
  height: auto;
  /* border: 2px solid black; */
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .leader-section {
    width: 70%;
  }
}

.leader-img-section {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: var(--text-color);
  margin: 1rem auto;
  padding: 0.3rem;
  box-shadow: 0px 0px 10px black;
}

.leader-img-section img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.our-team-parent {
  height: auto;
  padding: 1rem;
  position: relative;
  /* background-color: var(--secondary-color); */
}

.card-container {
  padding: 0px 1.3rem;
  /* background-color: yellowgreen; */
  height: auto;
}

.card-img-top {
  height: auto;
  width: auto;
  object-fit: contain;
  border-radius: 12px;
  padding: 0.5rem;
}

.card-body {
  padding: 1rem;
}

.card-text {
  padding: 0;
}

.demo img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 5px 0px var(--secondary-color);
}

/* .slick-prev:before,
.slick-next:before {
} */

.slick-prev::before {
  position: absolute;
  left: 90%;
}

.slick-next::before {
  position: absolute;
  right: 90%;
}

.slick-prev:before,
.slick-next:before {
  color: var(--main-color) !important;
}

/* form section */

.from-container {
  min-height: 400px;
  height: auto;
  /* border: 2px solid var(--text-color); */
  background-color: var(--secondary-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-facebook i {
  color: #316ff6;
}

.contact-instagram i {
  /* color: #316ff6; */
  background-image: linear-gradient(#f9ce34, #ee2a7b, #6228d7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contact-linkdin i {
  color: #0077b5;
}

.form-content {
  height: auto;
  color: var(--secondary-color);
}

.form-content h2::first-letter {
  color: var(--text-color);
  font-size: 3rem;
}

.contact-media {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 0.5rem 0px;
}

.map-parent {
  height: 230px;
  margin-bottom: 3rem;
}

/* faq section */

.faq-container {
  background-color: var(--secondary-color);
}

.faq-parent {
  /* height: 350px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
}

.accordion-item {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .faq-parent {
    width: 60%;
  }
}

/* service section */

.service-banner {
  height: 80vh;
  background-image: url('./images/service-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: blur(2px); */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service-banner h2 {
  font-size: 3.5rem;
  color: var(--secondary-color);
  /* margin-bottom: 4rem;
  margin-left: 2rem; */
}

/* .service-project-container {
  margin: 2rem 0px;
} */

.service-project-parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  height: auto;
  width: 100%;
  margin: 0px auto;
}

@media screen and (min-width: 768px) {
  .service-project-parent {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}

@media screen and (min-width: 1080px) {
  .service-project-parent {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service-project-item {
  overflow: hidden;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px var(--main-color);
}

.service-project-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s linear;
  border-radius: 4px;
}

.service-project-item img:hover {
  transform: scale(1.1);
}

/* blog section */

.services-container {
  min-height: 70vh;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fcf8ef;
  padding: 2rem;
  place-items: center;
  text-align: center;
}

.diffrent-font {
  font-family: 'Playwrite DE Grund', cursive;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  color: var(--text-color);
  filter: drop-shadow(3px 0px 1px #634542);
}

.services-img {
  margin: 2rem 0px;
  height: auto;
}

.services-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.services-content h3 {
  font-size: 1.7rem;
  line-height: 60px;
}

@media screen and (min-width: 768px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-img {
    margin: 0rem 0px;
    height: 80vh;
  }

  .services-content h3 {
    font-size: 2.5rem;
  }

  .diffrent-font {
    font-size: 3rem;
  }
}

.blog-container h4 {
  color: var(--secondary-color);
  font-size: 3rem;
  letter-spacing: 3px;
}

.blog-project-parent {
  height: auto;
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .blog-project-parent {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media screen and (min-width: 1050px) {
  .blog-project-parent {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

.blog-project-box {
  height: auto;
  border-radius: 5px;
  /* box-shadow: 0px 0px 4px 0px black; */
}

.blog-img-parent {
  height: auto;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.blog-img-parent img {
  transition: all 0.7s linear;
  object-fit: cover;
}

/* single pages */

.single-container {
  min-height: 80vh;
  height: auto;
}

.accounting-img {
  height: auto;
}

@media screen and (min-width: 768px) {
  .accounting-img {
    height: 350px;
  }
}

.accounting-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.accounting-content {
}

.accounting-content::first-letter {
  color: var(--text-color);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.accounting-img img {
  width: 100%;
  height: 100%;
}

.underline {
  height: 3px;
  background-color: var(--text-color);
  width: 150px;
  border-radius: 10px;
  margin: 0px auto;
}

.single-page-tabs {
  height: auto;
  margin-bottom: 5rem;
  padding: 1rem;
  /* background-color: white; */
  border-radius: 10px;
  /* background-image: url(''); */
}

/* --------tabs--------------- */

.btn-container {
  /* margin-top: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  .btn-container {
    flex-direction: column;
  }
}

.num {
  list-style-type: decimal-leading-zero;
  margin: 1.3rem 0px;
  cursor: pointer;
  transition: all 0.4s linear;
   text-transform: capitalize;
}

.num:hover {
  transform: scale(1.2);
}

.btn-active {
  color: var(--text-color);
}

.information {
  display: none;
  height: auto;
  /* box-shadow: 0px 0px 4px 0px var(--text-color); */
  border-radius: 4px;
  /* transition: all 0.5s linear; */
  box-shadow: 0px 0px 5px 0px var(--text-color);
}

.information h3 {
  font-size: 1.5rem;
}

.information p {
  margin-top: 20px;
  text-align: justify;
  font-size: 1.2rem;
}

.content-active {
  display: block;
}
