@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1e201e;
  --secondary-color: #f5f5f5;
  --section-margin: 3rem 0px;
  --text-color: #db9890;
}
/* #64ccc5 */

.dark-mode {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

body,
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.header {
  width: 100%;
  background-color: #000;
  position: sticky;
  top: 0px;
  z-index: 20;
}

.logo-img {
  height: 50px;
}

.nav-item .nav-link {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.nav-link:visited {
  color: var(--secondary-color);
}

.btn {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.center {
  width: 90%;
  margin: 0px auto;
}

.toggle {
  color: #fff;
  font-size: 1.7rem;
}

.nav-link {
  color: var(--secondary-color);
}

/* carousel slides */

.carousel-container {
  height: auto;
  position: relative;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}

.carousel-control-next,
.carousel-control-prev {
  background-color: var(--main-color);
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
}

.carousel-control-prev {
  left: 2%;
}
.carousel-control-next {
  right: 2%;
}

.carousel-caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(195, 125, 117, 0.5);
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: 90%;
  height: auto;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .carousel-caption {
    width: 70%;
  }
}

.carousel-caption h5 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.carousel-caption p {
  font-size: 1.5rem;
  letter-spacing: 3px;
}

/* our services */

.service-container {
  margin: var(--section-margin);
}

.service-container h2 {
  text-align: center;
}

.service-box-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

.service-box {
  background-color: var(--secondary-color);
  background-image: url('./images/WHITE\ SAND\ bg.png');
  color: var(--main-color);
  min-height: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.6s ease-in;
  box-shadow: 0px 0px 1px 0px var(--main-color);
}

.service-box h5 {
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 1rem 0px;
}

.service-box:hover {
  background-image: none;
  background-color: var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0px 0px 5px 0px var(--main-color);
}

.service-box > span {
  background-color: var(--main-color);
  color: var(--secondary-color);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.7s ease-in;
  box-shadow: 0px 0px 3px var(--secondary-color);
}

.service-box > span i {
  font-size: 1.3rem;
}

.service-box p {
  padding: 0px;
  text-align: start;
  letter-spacing: 1px;
}

.qoute {
  color: var(--text-color);
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: bold;
}

.details-content {
  display: inline-block;
  margin-left: 1rem;
}

/* about section */

.about-container {
  width: 100%;
  height: auto;
  background-color: rgba(30, 32, 30, 10);
}

.about-container h2 {
  color: var(--secondary-color);
}

.about-parent {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* goal section */
.goal-parent {
  height: auto;
  padding-left: 2rem;
  width: 100%;
  margin: 0px auto;
}

.hero-about-img {
  height: 360px;
  width: 100%;
}

.hero-about-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-content {
  height: auto;
  color: var(--secondary-color);
  padding: 3rem 0px;
}

.about-content h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 2.5rem;
}

.about-content p {
  text-align: start;
  padding: 0;
}

.btn {
  text-decoration: none;
}

/* recent-parent section */

.recent-parent {
  margin: var(--section-margin);
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: masonry;
  gap: 3rem;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 3rem;
}

.recent-img-shadow {
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 100%;
  transform: translateX(-100%);
  transition: all 0.4s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  flex-direction: column;
}

.box {
  overflow: hidden;
  height: 250px;
  width: 100%;
  box-shadow: 0px 0px 5px 0px var(--main-color);
  border-radius: 5px;
}

.box:hover .recent-img-shadow {
  transform: translateX(0%);
}

.box:nth-of-type(2),
.box:nth-of-type(4) {
  margin-top: 0rem;
}

.recent-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .recent-parent {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }

  .box:nth-of-type(2),
  .box:nth-of-type(4) {
    margin-top: 8rem;
  }

  .box img {
    object-fit: cover;
  }
}

@media screen and (min-width: 1350px) {
  .box {
    height: 300px;
  }
}

.process-parent {
  width: 100%;
}

.process {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.process-icon {
  background-color: var(--main-color);
  /* padding: 1rem; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translateY(-23px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-icon i {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.process-strong {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.process-point {
  list-style-type: disc;
  margin-top: 0.5rem;
  /* background-color: red; */
}

/* reviews start */

.review-container {
  margin: 4rem 0px;
}

.review {
  background-color: var(--main-color);
  height: 60vh;
  border-radius: 5px;
}

.review-card-container {
  height: auto;
  width: 100%;
  /* background-color: var(--main-color); */
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  /* box-shadow: 0px 0px 3px 0px black; */
}

.review-box {
  height: 60px;
  width: 60px;
  background-color: yellowgreen;
  margin-top: 5rem;
  border-radius: 50%;
}

figure {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background: var(--text-color);
  margin: 0px 0px;
}

figure > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: translateX(-10px);
}

#user-name {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

span {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
}

p {
  padding: 20px;
  text-align: center;
}

.icon-container {
  margin-bottom: 1rem;
}

#about-user {
  width: 80%;
}

.fa-angle-left,
.fa-angle-right {
  margin: 0px 10px;
  color: var(--text-color);
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  font-size: 1.5rem;
}

.fa-quote-right {
  transform: translate(-60px, 60px);
  background: var(--text-color);
  z-index: 5;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
    padding: 20px;
  }
}

/*** Footer Start ***/
.footer-container {
  background-color: #000;
}
.footer {
  height: auto;
}

.footer .footer-item {
  display: flex;
  flex-direction: column;
}

.footer .footer-item a {
  line-height: 35px;
  color: var(--text-color);
  transition: 0.5s;
}

.footer .footer-item p {
  line-height: 75px;
}

.footer .footer-item a:hover {
  color: var(--text-color);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
  transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
  background: var(--text-color);
}

.footer-icon {
  background-color: var(--text-color);
}

.footer .footer-item .footer-instagram:hover .footer-search-icon {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}

.footer .footer-item .footer-btn a {
  background: var(--secondary-color);
  color: var(--main-color);
}

.footer .footer-item .footer-btn a:hover {
  background: var(--text-color);
}

.footer .footer-item .footer-btn a:hover i {
  color: var(--bs-white);
}

.copyright-section {
  background-color: black;
  letter-spacing: 2px;
  color: var(--secondary-color);
  text-align: center;
  padding: 0.5rem;
  text-transform: uppercase;
}

.copyright-section span {
  color: var(--secondary-color);
  font-weight: normal;
}

/*** Footer End ***/

/* about-page css */

.about-page-hero-container {
  height: auto;
  background-color: var(--main-color);
}

.about-hero-parent {
  background-color: var(--main-color);
  min-height: 85vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.about-hero-parent-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.about-hero-parent-content h1 {
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.about-hero-parent-img {
  height: 400px;
}

.about-hero-parent-content strong {
  background-color: transparent;
  font-size: 2.6rem;
  color: var(--text-color);
  font-weight: bold;
}

.about-hero-parent-content span {
  letter-spacing: 2px;
}

.about-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.counter-container {
  /* background-color: var(--main-color); */
}

.count-num {
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 2px;
}

.digit-parent {
  /* min-height: 40vh; */
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: whitesmoke; */
  border-radius: 5px;
  /* box-shadow: 0px 0px 2px 0px var(--main-color); */
}

.digit-parent strong {
  font-size: 2.2rem;
  margin: 0px;
}

.digit-parent em {
  font-size: 1.2rem;
}

.our-team-section {
  height: auto;
}

.our-team-container {
  background-color: var(--main-color);
  padding-bottom: 1rem;
}

.our-team-parent {
  height: auto;
  /* background-color: var(--main-color); */
  padding: 1rem;
  position: relative;
}

.card-container {
  padding: 0px 0.5rem;
  height: auto;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-text {
  padding: 0;
}

.demo img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 5px 0px var(--secondary-color);
}

/* .slick-prev:before,
.slick-next:before {
} */

.slick-prev::before {
  position: absolute;
  left: 100%;
}

.slick-next::before {
  position: absolute;
  right: 100%;
}

/* form section */

.from-container {
  min-height: 400px;
  height: auto;
  border: 2px solid black;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  height: auto;
  color: var(--secondary-color);
}

.contact-media {
  background-color: var(--main-color);
  width: 100%;
  padding: 0.5rem 0px;
}

.map-parent {
  height: 230px;
  margin-bottom: 3rem;
}

/* faq section */

.faq-container {
  background-color: var(--main-color);
}

.faq-parent {
  /* height: 350px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  /* align-items: center; */
}

.accordion-item {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .faq-parent {
    width: 60%;
  }
}

/* service section */

.service-banner {
  height: 400px;
  background-image: url('./images/Rectangle.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-project-container {
  margin: 2rem 0px;
}

.service-project-parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  height: auto;
  width: 100%;
  margin: 0px auto;
}

@media screen and (min-width: 768px) {
  .service-project-parent {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}

@media screen and (min-width: 1080px) {
  .service-project-parent {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service-project-item {
  overflow: hidden;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px var(--main-color);
}

.service-project-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s linear;
  border-radius: 4px;
}

.service-project-item img:hover {
  transform: scale(1.1);
}

/* blog section */

.blog-container {
  height: 50vh;
  background: rgb(103, 70, 54);
  background: radial-gradient(
    circle,
    rgb(77, 51, 38) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container h4 {
  color: var(--secondary-color);
  font-size: 3rem;
  letter-spacing: 3px;
}

.blog-project-parent {
  height: auto;
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .blog-project-parent {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}

.blog-project-box {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px black;
}

.blog-project-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.7s linear;
}

.blog-project-box img:hover {
  transform: scale(1.2);
}
